.menu-bar {
  position: sticky;
  top:0;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  font-family: bitcount-mono-single-square, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5em;
  
  padding-left: 10px;
  padding-right: 10px;
}

.links {
  width: 50%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
 
}

.links a {
  text-decoration: none;
  color: black;
  
  opacity: 40%
}

#title {
  text-decoration: none;
  color: black;
  
  font-family: bitcount-mono-single-square, sans-serif;
  font-weight: 600;
  font-style: normal;

}

.links a:hover {
  text-decoration: underline;
  color: #D4E141;
  
  opacity: 100%;
}

#active {
  color: #D4E141;
  
  opacity: 100%;
}



.welcome{
  font-family: bitcount-mono-single-square, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10em; 
  line-height: 80%;

  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin-top: 20vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  

}



